<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">%%NAME%%</label>
    <label lang="en">%%NAME%%</label>
    <version>%%VERSION%%</version>
    <copyright>(c) by VIA-Connect</copyright>
    <license>General Public License Version 3</license>
    <link>https://www.via-connect.de/</link>
    <author>ViA-Online GmbH</author>
    <compatibility minVersion="5.3.0" />
    <changelog version="0.10.2">
        <changes lang="de">
            <![CDATA[
                <ul>
                    <li>New: add universal payment method as fallback</li>
                    <li>fixed: shipping address missing in order export</li>
                    <li>fixed: wrong payment descirption in order export</li>
                </ul>
            ]]>
        </changes>
        <changes lang="en">
            <![CDATA[
                <ul>
                    <li>New: add universal payment method as fallback</li>
                    <li>fixed: shipping address missing in order export</li>
                    <li>fixed: wrong payment descirption in order export</li>
                </ul>
            ]]>
        </changes>
    </changelog>
    <changelog version="0.10.1">
        <changes lang="de">
            <![CDATA[
                <ul>
                    <li>fixed: payment mapping not necessary</li>
                </ul>
            ]]>
        </changes>
        <changes>
            <![CDATA[
                <ul>
                    <li>fixed: payment mapping not necessary</li>
                </ul>
            ]]></changes>
    </changelog>
    <changelog version="0.10.0">
        <changes lang="de">
            <![CDATA[
                <ul>
                    <li>New: added min order date for export</li>
                    <li>New: Support for SW 5.6</li>
                    <li>fixed: drop invalid articles</li>
                    <li>fixed: category association</li>
                    <li>fixed: order submission params</li>
                    <li>fixed: submission of unfinished orders</li>
                </ul>
            ]]>
        </changes>
        <changes>
            <![CDATA[
                <ul>
                    <li>New: added min order date for export</li>
                    <li>New: Support for SW 5.6</li>
                    <li>fixed: drop invalid articles</li>
                    <li>fixed: category association</li>
                    <li>fixed: order submission params</li>
                    <li>fixed: submission of unfinished orders</li>
                </ul>
            ]]></changes>
    </changelog>
    <changelog version="0.9.11">
        <changes lang="de">
            <![CDATA[
                <ul>
                    <li>fixed: kernel.default_error_level not found exception</li>
                    <li>fixed: product nr. association</li>
                </ul>
            ]]>
        </changes>
        <changes>
            <![CDATA[
                <ul>
                    <li>fixed: kernel.default_error_level not found exception</li>
                    <li>fixed: product nr. association</li>
                </ul>
            ]]></changes>
    </changelog>
    <changelog version="0.9.10">
        <changes lang="de">
            <![CDATA[
                <ul>
                    <li>fixed: variant association</li>
                </ul>
            ]]>
        </changes>
        <changes>
            <![CDATA[
                <ul>
                    <li>fixed: variant association</li>
                </ul>
            ]]></changes>
    </changelog>
    <changelog version="0.9.9">
        <changes lang="de">
            <![CDATA[
                <ul>
                    <li>fixed: product order associatin</li>
                </ul>
            ]]>
        </changes>
        <changes>
            <![CDATA[
                <ul>
                    <li>fixed: product order associatin</li>
                </ul>
            ]]></changes>
    </changelog>
    <changelog version="0.9.8">
        <changes lang="de">
            <![CDATA[
                <ul>
                    <li>fixed: category export id association</li>
                    <li>fixed: afterbuy association reset</li>
                </ul>
            ]]>
        </changes>
        <changes>
            <![CDATA[
                <ul>
                    <li>fixed: category export id association</li>
                    <li>fixed: afterbuy association reset</li>
                </ul>
            ]]></changes>
    </changelog>
    <changelog version="0.9.7">
        <changes lang="de">
            <![CDATA[
                <ul>
                    <li>added: additional fields for import</li>
                    <li>fixed: show correct option label in plugin config</li>
                    <li>fixed: import more than one subcategory</li>
                    <li>added: selection in config to import products with Afterbuy internal Ordernumber or Product ID</li>
                </ul>
            ]]>
        </changes>
        <changes>
            <![CDATA[
                <ul>
                    <li>added: additional fields for import</li>
                    <li>fixed: show correct option label in plugin config</li>
                    <li>fixed: import more than one subcategory</li>
                    <li>added: selection in config to import products with Afterbuy internal Ordernumber or Product ID</li>
                </ul>
            ]]></changes>
    </changelog>
    <changelog version="0.9.6">
        <changes lang="de">
            <![CDATA[
                <ul>
                    <li>added: import of fields for basic price calculation</li>
                    <li>added: import of attributes</li>
                    <li>added: import of internal article nr</li>
                    <li>added: import of free text fields</li>
                    <li>added: custom config form</li>
                    <li>added: option for target category</li>
                    <li>fixed: error on order export</li>
                </ul>
            ]]>
        </changes>
        <changes lang="en">
            <![CDATA[
                <ul>
                    <li>added: import of fields for basic price calculation</li>
                    <li>added: import of attributes</li>
                    <li>added: import of internal article nr</li>
                    <li>added: import of free text fields</li>
                    <li>added: custom config form</li>
                    <li>added: option for target category</li>
                    <li>fixed: error on order export</li>
                </ul>
            ]]></changes>
    </changelog>
    <changelog version="0.9.5">
        <changes lang="de">Fixed Error with category import</changes>
        <changes lang="en">Fixed Error with category import</changes>
    </changelog>
    <changelog version="0.9.4">
        <changes lang="de">Refactoring</changes>
        <changes lang="en">Refactoring</changes>
    </changelog>
    <changelog version="0.9.3">
        <changes lang="de">
            <![CDATA[
                <ul>
                    <li>Did remaining TODO's - minor changes</li>
                    <li>Added Backend feature to show Afterbuy Order ID in Article List</li>
                    <li>Added Backend feature to show Export Flag in Article List</li>
                </ul>
            ]]>
        </changes>
        <changes lang="en">
            <![CDATA[
                <ul>
                    <li>Did remaining TODO's - minor changes</li>
                    <li>Added Backend feature to show Afterbuy Order ID in Article List</li>
                    <li>Added Backend feature to show Export Flag in Article List</li>
                </ul>
            ]]>
        </changes>
    </changelog>
    <changelog version="0.9.2">
        <changes lang="de">Fixed Error with category import</changes>
        <changes lang="en">Fixed Error with category import</changes>
    </changelog>
    <changelog version="0.9.1">
        <changes lang="de">Fixed several error with product import</changes>
        <changes lang="en">Fixed several error with product import</changes>
    </changelog>
    <changelog version="0.9.0">
        <changes lang="de">Erste Veröffentlichung</changes>
        <changes lang="en">Initial Release</changes>
    </changelog>
    <description>
        <![CDATA[
            <b>Interface-Plugin for Afterbuy</b>
            <p>With the Afterbuy Connector you can establish a connection to your Afterbuy-Account</p>
        ]]>
    </description>
    <description lang="de">
        <![CDATA[
            <b>Schnittstelle zu Afterbuy</b>
            <p>Mit dem Afterbuy-Connector können Sie einen Shopware-Shop an Ihr Afterbuy-System anbinden.</p>
        ]]>
    </description>
</plugin>