<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">

    <elements>
        <element type="select" >
            <name>mainSystem</name>
            <label lang="de">datenführendes System</label>
            <label lang="en">data-carrying system</label>
            <store>
                <option>
                    <value>1</value>
                    <label lang="de">Shopware</label>
                    <label lang="en">Shopware</label>
                </option>
                <option>
                    <value>2</value>
                    <label lang="de">Afterbuy</label>
                    <label lang="en">Afterbuy</label>
                </option>
            </store>
        </element>
        <element type="text" >
            <name>partnerId</name>
            <label lang="de">Afterbuy Partner-ID</label>
            <label lang="en">Afterbuy Partner-ID</label>
            <value>fatchip</value>
        </element>
        <element type="text" >
            <name>partnerPassword</name>
            <label lang="de">Afterbuy Partner-Passwort</label>
            <label lang="en">Afterbuy Partner-Password</label>
            <value>fc2afterbuy</value>
        </element>
        <element type="text" >
            <name>userName</name>
            <label lang="de">Afterbuy User</label>
            <label lang="en">Afterbuy User</label>
            <value>110931</value>
        </element>
        <element type="text" >
            <name>userPassword</name>
            <label lang="de">Afterbuy User-Passwort</label>
            <label lang="en">Afterbuy User-Password</label>
            <value>h=wRLW)WGW(z7o=XcytHe9ZUZ</value>
        </element>
    </elements>

</config>